.dropdown-menu-link {
  display: block;
  height: 39px;
  line-height: 39px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $f-os;
  color: $c-main;
  font-size: 14px;
  padding: 0 0 0 54px;
}