.detail-mob-characteristics {
  padding: 0 10px 17px;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 640px) {
    padding: 17px 0 17px;
  }

  & table th {
    background: #3d3d3d;
    border: 1px solid #3d3d3d;
    text-align: center;
    text-transform: none;
    color: #fff;
    font-weight: 900;
    font-family: $f-os;
  }

  & table th:first-letter {
    text-transform: uppercase;
  }

  & table tr:nth-child(even) {
    background: #fafafa;
  }
}