.page-mob-brand {

  @media screen and (min-width: 1024px) {
    width: 610px;
    margin: 0 auto;
  }

  &__title {
    font-size: 20px;
    padding-bottom: 30px;
  }

  &__img {
    vertical-align: top;
  }

  &__descr {

    & p {
      font-size: 14px;
      font-family: $f-os;
      margin: 0;
      padding: 20px 0;
    }
  }

  &__wrap {
    text-align: center;
  }
}

.page-mob-content h1.page-mob-brand__title {
  padding: 10px 0 26px;
}