/*color*/
$c-main: #fbe11a;
$c-main-button: #ffff00;
$c-gray-l: #d9d9d9;
$c-dark: #3d3d3d;
$c-bg-main: #191a1b;
$c-bg-dark: #282828;
$c-light: #f5f5f5;
$c-text-main: #191a1b;
$c-bg-light: #fcfefc;
$c-red: #ff2020;
$c-blue: #40baf1;
$c-text-popup: #686969;
$c-breadcr: #e7e7e7;

/*fonts*/
$f-os: "OpenSans", sans-serif;