.cart-mob-card-total {
  flex-shrink: 0;
  width: 36.4585%;
  text-align: center;

  &__sum {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
    font-family: $f-os;
    color: $c-text-main;
    font-weight: 900;
    margin: 0 5px 0 0;
  }

  &__currency {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    font-family: $f-os;
    color: $c-text-main;
    font-weight: 900;
  }
}