.cart-mob-card {
  position: relative;
  border: 1px solid #a3a3a3;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  padding: 7px 5px;

  @media screen and (min-width: 640px) {
    display: flex;
  }

  & + .cart-mob-card {
    margin-top: 10px;
  }

  &__block {
    display: flex;

    @media screen and (min-width: 640px) {
      margin: 0 40px 0 0;
    }

    &_bottom {
      align-items: center;
      padding: 10px 0 0;

      @media screen and (min-width: 640px) {
        margin: 0;
        flex-grow: 1;
      }
    }
  }
}