.substrate-main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $c-bg-main;
  opacity: 0;
  z-index: 3000000;
  transition: opacity .3s;
  display: none;

  &_active {
    opacity: 0.8;
  }
}

.substrate-search {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $c-bg-main;
  opacity: 0;
  z-index: 3000000;
  transition: opacity .3s;
  display: none;

  &_active {
    opacity: 0.8;
  }
}