.filters-search-title {
  position: relative;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;

  &_pad {
    padding: 0;
  }

  &__text {
    font-size: 14px;
    color: #c2c2c2;
    font-family: $f-os;
  }

  &__ico {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
  }
}